<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cds_jo.GalaxySalesApp"
    android:versionCode="3"
    android:versionName="3.0">

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature android:name="android.hardware.location.gps" /> <!-- auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="my.package.name.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.gm.permission.WRITE_GMAIL" />
    <uses-permission android:name="com.google.android.gm.permission.AUTO_SEND" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature android:name="android.hardware.camera.level.full" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/gi"
        android:label="demo Galaxy Sales App"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name="com.cds_jo.GalaxySalesApp.Mentnis.MentnisActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".MyRequests" />
        <activity android:name=".returnsforsupervisor" />
        <activity android:name=".requisitionsselling" />
        <activity
            android:name=".returnRequest"
            android:parentActivityName=".JalMasterActivity" />
        <activity android:name=".Exchange_voucher" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".testAct"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ReoprtSaleActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ManSummeryActivity1"
            android:exported="false"
            android:label="@string/title_activity_man_summery1"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".Sales_Invoices_Report2"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".Location_Activity" />
        <activity
            android:name=".Sales_Invoices_Report"
            android:parentActivityName=".JalMasterActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".VisitsDone_Report" />
        <activity android:name=".Clinc_Visits_ReportActivity" />
        <activity
            android:name=".Delivery.SalesInvoiceAct"
            android:exported="true" />
        <activity
            android:name=".Delivery.DeliveryAct"
            android:exported="true" />
        <activity
            android:name=".NewPackage.MonthlySalesManSchedule"
            android:exported="true" />
        <activity
            android:name=".NewPackage.MainNewActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Catch_Receipt" />
        <activity android:name=".Delivery_VoucherAct" />
        <activity android:name=".AbuHaltam.LoginHalitamNew" />
        <activity android:name=".XPinter_Man_Balance_Qty" />
        <activity android:name=".assist.Xpinter_Acc" />
        <activity
            android:name=".AbuHaltam.ProductionlineAct"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".CustomerSummary.CustomerSummaryAct" />
        <activity android:name=".ManCard.SplashLoginAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".assist.Xprinter_SalesReturn" />
        <activity android:name=".ItemsDameged" />
        <activity android:name=".Man_Qty" />
        <activity android:name=".Convert_Sal_Return_To_ImgActivity_Line" />
        <activity
            android:name=".StartUpActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Tracking.MapsActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".assist.ManAttenActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TQNew.Convert_Prapre_Qty_To_Img1"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TQNew.Convert_ccReportTo_ImgActivity1"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".assist.Convert_Sal_Return_To_ImgActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TQNew.ManSummeryActivity1"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="port.bluetooth.BluetoothConnectMenu"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".assist.layout_to_imgActivity" />
        <activity
            android:name=".assist.Convert_Layout_Img"
            android:screenOrientation="landscape" />
        <activity
            android:name=".warehouse.PrintItemRecepit"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Pos.Pos_Activity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".assist.TOfCollections"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".myelectomic.Pos_Ele_Activity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".myelectomic.Catch_Receipt"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".assist.Convert_Layout_Img_Tsc"
            android:screenOrientation="landscape" />
        <activity
            android:name=".assist.Convert_RecVouch_To_Img"
            android:screenOrientation="landscape" />
        <activity
            android:name=".assist.Convert_RecVouch_To_Img_Tab10"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Convert_RecVouch_To_Img_Ipad"
            android:screenOrientation="landscape" />
        <activity
            android:name=".assist.Convert_Prapre_Qty_To_Img"
            android:screenOrientation="landscape" />
        <activity
            android:name=".assist.Convert_Man_Balance_Qty_To_Img"
            android:screenOrientation="landscape" />
        <activity
            android:name=".NewHomePage.NewHomePage"
            android:screenOrientation="landscape" />
        <activity
            android:name=".assist.Convert_TransQty_To_Img"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Pos.Print_POS_Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".WebPage.WebPageAct"
            android:screenOrientation="landscape" />
        <activity
            android:name=".assist.Convert_ccReportTo_ImgActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".assist.Convert_ccReport2To_ImgActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ScheduleManActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RecvVoucherActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".InquireItem.InquireItemACT"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".TspPrinter.SampleReciptActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".TspPrinter.imagePrintingActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".CustomerNotes"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".assist.CustomerReturnQtyActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".warehouse.ItemsRecepit"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CustomerQty"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TransferQty"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".warehouse.EnterQtyActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".assist.Acc_ReportActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TransQtyReportActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ManBalanceQtyActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Reports.Report_Home"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".TQNew.ReoprtSaleActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".PreapareManQty"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".UpdateDataToMobileActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".EditeTransActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ItemGalleryActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".assist.Convert_Sal_Invoice_To_ImgActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".assist.Convert_Sal_Invoice_To_ImgActivity_Line"
            android:screenOrientation="landscape" />
        <activity
            android:name=".assist.Convert_Sal_Invoice_To_ImgActivity_Tab_10"
            android:screenOrientation="landscape" />
        <activity
            android:name=".assist.Convert_Sal_Invoice_To_Img_Ukrainian"
            android:screenOrientation="landscape" />
        <activity
            android:name=".assist.Store_Trans_Qty_Img"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TQNew.Convert_Layout_Img1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TQNew.Acc_ReportActivity1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".assist.Convert_Sal_Invoice_To_ImgActivity_Okrania_Ipad"
            android:screenOrientation="landscape" />
        <activity
            android:name=".assist.Convert_RecVouch_To_Img_GoodSystem"
            android:screenOrientation="landscape" />
        <activity
            android:name=".assist.OrdersItems"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TQNew.OrdersItems1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".warehouse.Enter_Qty_Img"
            android:screenOrientation="landscape" />
        <activity
            android:name=".assist.Sale_InvoiceActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".assist.Convert_Sal_Invoice_To_ImgActivity_Prestaige"
            android:screenOrientation="landscape" />
        <activity android:name=".PrintImageActivity" />
        <activity android:name=".ItemCostActivity" />
        <activity android:name=".SaleManRoundsActivity" />
        <activity android:name=".QuestneerActivity" />
        <activity android:name=".CaptureSignatureActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".NotifationResultActivity" />

        <service
            android:name=".GetManMessage"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ManLocationsReport"
            android:screenOrientation="landscape" />
        <activity
            android:name=".assist.Sale_ReturnActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".NewLoginActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".assist.Monthly_Items_AmountAct"
            android:screenOrientation="landscape" />
        <activity
            android:name=".JalMasterActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ManSummeryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".BeeHiveActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DoctorReportActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".GalaxyLoginActivity"
            android:label="@string/title_activity_galaxy_login"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ConnectXPrinterActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CusfCard"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ManSummeryNew"
            android:screenOrientation="landscape" />

        <service android:name="net.posprinter.service.PosprinterService" />
        <service
            android:name=".AutoPostTrans"
            android:enabled="true"
            android:exported="true" />
        <service android:name="net.posprinter.service.PosprinterService" />
        <service
            android:name=".ManLocation.AutoPostLocation"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <activity
            android:name=".SittingNew"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".CustLocations.CustomerLocation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".NewPackage.GalaxyNewHomeActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".VisitImges"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsTest"
            android:label="الخريطه" />
        <activity android:name=".RR3Printer" />
        <activity android:name=".imgtest" />
        <activity
            android:name=".XprinterDoc.Xprinter_RecVoucher"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".XprinterDoc.Xprinter_SalesOrder"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".XprinterDoc.Xprinter_SalesInvoice"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".myelectomic.Xprinter_SalesInvoice_eleb"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".myelectomic.Xprinter_SalesInvoice_ele"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".XprinterDoc.Xprinter_ManSummeryTo_img"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>

</manifest>